#message{
    display:none;
}

.jumbotron{
    height: 450px; 
    padding-top:150px;
}

.jumbotron div{
    display:flex;
    align-items:center; 
    justify-content: center; 
    flex-direction: column;
}


